crop/
crop_*/
final*/
!final_font/
final_font/*
!final_font/*.woff2
!final_font/*.ttf
svg_separate/
pico/
output*/
pico_*/
to_be_reviewed/
png/

node_modules/
package.json
package-lock.json

__pycache__/
*.pyc